*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
  .cabeçalho{
     background-color: rgb(21, 136, 230);
     
  }
      h1{
     left: 900px;
    position: absolute;
    top: 5px;
    letter-spacing: 3px;
    font-weight: bolder;
    color: rgb(198, 201, 202);
    
  }

nav a img{
    width: 35px;
    
  }
  .marginIcones {
    margin-right: 20px;
    width: 40px;
  }
#sociais{
    width: 40px;
    margin-left: 20px;
}
div header {
    
    background-image: url(https://image.freepik.com/free-vector/future-abstract-technology-background_1406-110.jpg);
    padding :50px;
    background-size: cover;
}
.minhaFoto{
    width: 300px;
    border-radius: 50%;
    margin-top: 3vh;
    border: 10px ridge black;
    position: relative;
    left: 200px;
    
}
p{
    color: rgb(190, 190, 190);
    font-size: 30px;
    font-weight: bold;
    margin-left: 550px;
    margin-top: 100px;
    position: absolute;
    
}