*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
  }
header{
  background-color: rgb(28, 153, 236);
}

  .cabeçalhoh1{
     display: flex;
     justify-content: flex-start;
  }
      h1{
    letter-spacing: 3px;
    font-weight: bolder;
    color: rgb(198, 201, 202);
    margin-top: 15px;
    margin-left: 100px;
  }
nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 300px;
  
  
}
  .home {
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    bottom: 25px;
    position: relative;
  }
  .habilidades{
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    margin-right: 5px;
    bottom: 25px;
    position: relative;
  }
.social{
    width: 40px;
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    bottom: 25px;
    position: relative;
    
}
div header {
    
    background-image: url(https://image.freepik.com/free-vector/future-abstract-technology-background_1406-110.jpg);
    padding :50px;
    background-size: cover;
}
.minhaFoto{
    width: 300px;
    border-radius: 50%;
    margin-top: 3vh;
    border: 10px ridge black;
    position: relative;
    left: 200px;
    
}
p{
    color: rgb(190, 190, 190);
    font-size: 30px;
    font-weight: bold;
    margin-left: 550px;
    margin-top: 100px;
    position: absolute;
    
}